@import url('https://fonts.googleapis.com/css?family=Montserrat:500|Muli|Poppins:400,600|Roboto&display=swap');

/*------------main fonts--------------*/ 
$font-mont: 'Montserrat';
$font-popp: 'Poppins';
$font-muli: 'Muli';
$font-owsa: 'Oswald';